@import url("https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css");
@import url('https://raw.githubusercontent.com/surgedevs/visual-refresh-compact-title-bar/refs/heads/main/desktop.css');
@import url("https://raw.githubusercontent.com/Augenbl1ck/Discord-Styles/refs/heads/main/customStatusBubble.css");
@import url("https://nspc911.github.io/themes/vencord/ChatRelatedAlertsAtTop.theme.css");
@import url("https://nspc911.github.io/themes/vencord/RefreshedSeamlessChatBar.theme.css");
/* remove Status Reactions */
[class^='popover']{
display: none;
}
.visual-refresh div[class^="sidebar_"] section[class^="panels_"] {
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 1px);
    left: var(--custom-guild-list-width);
    bottom: 0px;
    border-radius: 0px;
    border: none;
}

.visual-refresh nav[class*=guilds_] {
  margin-bottom: unset;
}
/* Force sidebar to be full height */
.bar_c38106 { padding-left: 0px; }
.sidebarList_c48ade, .notice__6e2b9 {
    border-top-left-radius: 0px!important;
    border-top: 0px!important;
}
.notice__6e2b9 {
    border-left: 0px!important;
    border-bottom: 1px solid var(--app-border-frame);
}
.tutorialContainer__1f388 {
    padding-top: calc(var(--space-xs) * 2); /* Fix padding on home button */
}
.visual-refresh .base_c48ade {
    grid-template-rows: [top] min-content [titleBarEnd] min-content [noticeEnd] 1fr [end];
    grid-template-areas: "notice     notice       notice"
                         "guildsList channelsList titleBar"
                         "guildsList channelsList page";
/* hide activity*/
}[class*='membersGroup']:has([role=button]),
[class*='member'] [class*='container']:has([class*='badges']) {
  display: none;
}
/* SHIGGY!*/
.content_a2f514 {
    display: flex;
    flex-direction: column;
    > .spinner_a2f514 { display: none }
    &:before {
        display: block;
        height: 128px;
        position: relative;
        content: url(https://raw.githubusercontent.com/Vencord/Vesktop/refs/heads/main/static/shiggy.gif);
        image-rendering: pixelated;
         align-content: center;
         scale: 3.125;
         margin-bottom: 96px;
    }
}

:root {
    --list-item-transition: 0.2s ease;
}
.wrapper__2ea32 .link__2ea32 {
    transition: margin-left var(--list-item-transition);
}
.wrapper__2ea32:hover .link__2ea32 {
    margin-left: 10px;
}
.unread__2ea32 {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-left: -4px;
    transition: var(--list-item-transition);
}
.wrapper__2ea32:hover .unread__2ea32 {
    width: 12px;
    height: 12px;
    margin-top: -6px;
    margin-left: 3px;
    background-color: transparent;
    background: url('https://cdn.discordapp.com/emojis/1026533070955872337.webp?size=48');
    background-size: 12px;
    background-position: center;
}

.role_dfa8b6.pill_dfa8b6 {
    position: relative;
    background: none;
    border: none;
    padding-left: 28px;
}

.role_dfa8b6.pill_dfa8b6 > span {
    z-index: 1;
}

.role_dfa8b6.pill_dfa8b6 .roleRemoveButton_dfa8b6 {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0 !important;
}

.role_dfa8b6.pill_dfa8b6 .roleCircle__4f569 {
    margin: 6px 8px;
}

.role_dfa8b6.pill_dfa8b6 .roleCircle__4f569::before {
    content: '';
    display: block;
    position: absolute;
    background-color: inherit;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: var(--radius-xs);
    filter: brightness(1.1);
    opacity: 0.25;
}
.button__85643.iconWrapper__9293f {
  display: none !important;
}
.button__201d5.lookFilled__201d5.colorPrimary__201d5.sizeSmall__201d5.fullWidth__201d5 {
  display: none !important;
}
.searchBar__35e86 {
  display: none !important;
}
.tutorialContainer__1f388 {
    padding: 0px 
}
:root {
    /* Set to 1 if you want them to float  *\
    |*      Recommended while using        *|
    \*      Midnight/Rounded Themes        */
    --craat-popout: 0; /* Default = 0 */
    /* Change the border radius *\
    \*      for the alerts      */
    --craat-border-radius: 16px; /* default: 16px */
}
:root {
    /* change padding of the bar */
     --rscb-chat-box-padding: 8px; /* default is 8px for alignment */
}
}

button[aria-label="Send a gift"] {
  display: none !important;
}
:root {
  /* Only include this part if you wish to change these variables */
  --add-custom-status-text: "my penis hurt :(";
  --add-custom-status-text-margin: 4px;
}

